.card-body {
    background-color:#e0d5d59e;
      border: 1px solid;
      padding: 70px;
      font-size: 15px;
      font-family: pacifico,cursive;
      padding:20px;
  }
  
  h1{
      font-size: 50px;
      text-align: center;
      font-weight: bold;
  }
  h3{
      font-size: 28px;
      text-align: center;   
  }
  
  .jumbotron{
      font-size: 20px;
      background-color:gainsboro;
  
  }